* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background: #23242a;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form {
    color: white;
    background: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 320px;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 2em;
}

.box-user label {
    font-size: 1.2em;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    margin-top: 20px;
}

input {
   width: 100%;
   padding: 8px 5px;
   outline: none;
   border: 0;
   background: transparent;
   border-bottom: 1px solid white;
   color: white;
   font-size: 15px;
   margin-bottom: 20px;
}

