* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100hv;
}

.login-form {
    background-color: #23242a;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

.login-form h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.login-form .box-user {
    position: relative;
}

.login-form .box-user input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 7px;
}

.login-form .box-user label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}